<% unless @tasks.exists? %>
  <p>
    まだ本日の記録はありません。
  </p>
<% else %>

  <h2>
    Doneリスト
  </h2>
  <% @tasks.each do |task| %>
    <p>
      <%= task.content %>
      <% if task.spent_time.present? %>
        <%= task.spent_time / 1000 %>秒
      <% end %>
    </p>
  <% end %>
  <% if @diary.pomodoro_time.exists? %>
    <%= @diary.pomodoro_time / 60000 %>分
  <% end %>
<% end %>

<%= form_for(@diary) do |f| %>
  <%= f.text_area :content %>
  <%= f.submit "保存" %>
<% end %>
