<!DOCTYPE html>
<html>
  <head>
    <title>TodoFinisher</title>
    <%= csrf_meta_tags %>
    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= current_user.email %>　としてログインしています。
      <%= link_to "ログアウト", destroy_user_session_path, :method => :delete %>
      <%= link_to "プロフィール・タイマー編集", edit_user_path(current_user) %>
      <%= link_to "タスク一覧", tasks_path %>
      <%= link_to "日記一覧", diaries_path %>
      <%= link_to "本日の日記", @today_diary %>
    <% else %>
      <%= link_to "サインアップ", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>
      <%= link_to "ポモドーロタイマー", timer_path %>
    <%= yield %>
  </body>
</html>
